@page "/blog"
@inherits AppComponentBase

<PageTitle>مقالات</PageTitle>

<div class="klb-blog-list blog-wrapper">
	<div class="container">

		<div class="row content-wrapper sidebar-right">
			<div class="col-12 col-md-12 col-lg-9 content-primary">
				<div class="site-posts">

					<article id="post-1035" class="klb-article post-1035 post type-post status-publish format-standard has-post-thumbnail hentry category-tips-tricks tag-food tag-store tag-themeforest">
						<figure class="post-thumbnail">
							<a href="https://klbtheme.com/bacola/blog/but-i-must-explain-to-you-how-all-this-mistaken-idea/"><img src="https://k4j3j2s7.rocketcdn.me/bacola/wp-content/uploads/2021/05/blog-3.jpg" alt="But I must explain to you how all this mistaken idea"></a>
						</figure>

						<div class="post-wrapper">
							<div class="entry-meta">
								<span class="meta-item entry-published"><i class="klbth-icon-clock"></i><a href="https://klbtheme.com/bacola/blog/but-i-must-explain-to-you-how-all-this-mistaken-idea/">May 3, 2021 </a></span>

								<span class="meta-item entry-published"><i class="klbth-icon-bookmark-empty"></i><a href="https://klbtheme.com/bacola/blog/category/tips-tricks/" rel="category tag">Tips &amp; Tricks</a></span>

								<span class="meta-item entry-tags"><i class="klbth-icon-pill"></i><a href="https://klbtheme.com/bacola/blog/tag/food/" rel="tag">food</a>, <a href="https://klbtheme.com/bacola/blog/tag/store/" rel="tag">store</a>, <a href="https://klbtheme.com/bacola/blog/tag/themeforest/" rel="tag">themeforest</a> </span>
							</div>

							<h2 class="entry-title"><a href="https://klbtheme.com/bacola/blog/but-i-must-explain-to-you-how-all-this-mistaken-idea/">But I must explain to you how all this mistaken idea</a></h2>

							<div class="entry-content">
								<div class="klb-post">
									<p>Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis, vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id efficitur ultrices, sapien mauris sodales</p>
									<div class="klb-readmore entry-button"><a class="button" href="https://klbtheme.com/bacola/blog/but-i-must-explain-to-you-how-all-this-mistaken-idea/">Read More</a></div>
								</div>
							</div>
						</div>
					</article>

					<article id="post-1023" class="klb-article post-1023 post type-post status-publish format-standard has-post-thumbnail hentry category-grocery tag-envato tag-fresh">
						<figure class="post-thumbnail">
							<a href="https://klbtheme.com/bacola/blog/the-problem-with-typefaces-on-the-web/"><img src="https://k4j3j2s7.rocketcdn.me/bacola/wp-content/uploads/2021/05/blog-5.jpg" alt="The Problem With Typefaces on the Web"></a>
						</figure>

						<div class="post-wrapper">
							<div class="entry-meta">
								<span class="meta-item entry-published"><i class="klbth-icon-clock"></i><a href="https://klbtheme.com/bacola/blog/the-problem-with-typefaces-on-the-web/">May 3, 2021 </a></span>

								<span class="meta-item entry-published"><i class="klbth-icon-bookmark-empty"></i><a href="https://klbtheme.com/bacola/blog/category/grocery/" rel="category tag">Grocery</a></span>

								<span class="meta-item entry-tags"><i class="klbth-icon-pill"></i><a href="https://klbtheme.com/bacola/blog/tag/envato/" rel="tag">envato</a>, <a href="https://klbtheme.com/bacola/blog/tag/fresh/" rel="tag">fresh</a> </span>
							</div>

							<h2 class="entry-title"><a href="https://klbtheme.com/bacola/blog/the-problem-with-typefaces-on-the-web/">The Problem With Typefaces on the Web</a></h2>

							<div class="entry-content">
								<div class="klb-post">
									<p>Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis, vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id efficitur ultrices, sapien mauris sodales</p>
									<div class="klb-readmore entry-button"><a class="button" href="https://klbtheme.com/bacola/blog/the-problem-with-typefaces-on-the-web/">Read More</a></div>
								</div>
							</div>
						</div>
					</article>

					<article id="post-1759" class="klb-article post-1759 post type-post status-publish format-standard has-post-thumbnail hentry category-grocery tag-food tag-organic">
						<figure class="post-thumbnail">
							<a href="https://klbtheme.com/bacola/blog/english-breakfast-tea-with-tasty-donut-desserts/"><img src="https://k4j3j2s7.rocketcdn.me/bacola/wp-content/uploads/2021/05/blog-1.jpg" alt="English Breakfast Tea With Tasty Donut Desserts"></a>
						</figure>

						<div class="post-wrapper">
							<div class="entry-meta">
								<span class="meta-item entry-published"><i class="klbth-icon-clock"></i><a href="https://klbtheme.com/bacola/blog/english-breakfast-tea-with-tasty-donut-desserts/">May 2, 2021 </a></span>

								<span class="meta-item entry-published"><i class="klbth-icon-bookmark-empty"></i><a href="https://klbtheme.com/bacola/blog/category/grocery/" rel="category tag">Grocery</a></span>

								<span class="meta-item entry-tags"><i class="klbth-icon-pill"></i><a href="https://klbtheme.com/bacola/blog/tag/food/" rel="tag">food</a>, <a href="https://klbtheme.com/bacola/blog/tag/organic/" rel="tag">organic</a> </span>
							</div>

							<h2 class="entry-title"><a href="https://klbtheme.com/bacola/blog/english-breakfast-tea-with-tasty-donut-desserts/">English Breakfast Tea With Tasty Donut Desserts</a></h2>

							<div class="entry-content">
								<div class="klb-post">
									<p>Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis, vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id efficitur ultrices, sapien mauris sodales</p>
									<div class="klb-readmore entry-button"><a class="button" href="https://klbtheme.com/bacola/blog/english-breakfast-tea-with-tasty-donut-desserts/">Read More</a></div>
								</div>
							</div>
						</div>
					</article>


					<div class="col col-12">
						<div class="site-pagination">
							<ul class="page-numbers">
								<li><span aria-current="page" class="page-numbers current">1</span></li>
								<li><a class="page-numbers" href="https://klbtheme.com/bacola/blog/page/2/">2</a></li>
								<li><a class="next page-numbers" href="https://klbtheme.com/bacola/blog/page/2/"><i class="klbth-icon-right-open-big"></i></a></li>
							</ul>
						</div>
					</div>


				</div>
			</div>
			<div id="sidebar" class="col-12 col-md-3 col-lg-3 content-secondary site-sidebar">
				<div class="widget widget_search">
					<div class="search_form">
						<form class="search-form" id="search-form" action="https://klbtheme.com/bacola/" method="get">
							<input class="form_control" type="text" name="s" placeholder="Search..." autocomplete="off">
							<button type="submit"><i class="klbth-icon-search"></i></button>
						</form>
					</div>
				</div><div class="widget widget_popular_posts">
					<h4 class="widget-title">Popular Posts</h4>			<div class="widget-body">
						<div class="widget-posts">


							<article class="post">

								<figure class="post-thumbnail">
									<div class="post-number">1</div>
									<a href="https://klbtheme.com/bacola/blog/the-problem-with-typefaces-on-the-web/"><img src="https://k4j3j2s7.rocketcdn.me/bacola/wp-content/uploads/2021/05/blog-5-100x100.jpg" alt="The Problem With Typefaces on the Web"></a>
								</figure>

								<div class="post-wrapper">
									<h2 class="entry-title"><a href="https://klbtheme.com/bacola/blog/the-problem-with-typefaces-on-the-web/" title="The Problem With Typefaces on the Web">The Problem With Typefaces on the Web</a></h2>
								</div>
							</article>


							<article class="post">

								<figure class="post-thumbnail">
									<div class="post-number">2</div>
									<a href="https://klbtheme.com/bacola/blog/but-i-must-explain-to-you-how-all-this-mistaken-idea/"><img src="https://k4j3j2s7.rocketcdn.me/bacola/wp-content/uploads/2021/05/blog-3-100x100.jpg" alt="But I must explain to you how all this mistaken idea"></a>
								</figure>

								<div class="post-wrapper">
									<h2 class="entry-title"><a href="https://klbtheme.com/bacola/blog/but-i-must-explain-to-you-how-all-this-mistaken-idea/" title="But I must explain to you how all this mistaken idea">But I must explain to you how all this mistaken idea</a></h2>
								</div>
							</article>


							<article class="post">

								<figure class="post-thumbnail">
									<div class="post-number">3</div>
									<a href="https://klbtheme.com/bacola/blog/english-breakfast-tea-with-tasty-donut-desserts/"><img src="https://k4j3j2s7.rocketcdn.me/bacola/wp-content/uploads/2021/05/blog-1-100x100.jpg" alt="English Breakfast Tea With Tasty Donut Desserts"></a>
								</figure>

								<div class="post-wrapper">
									<h2 class="entry-title"><a href="https://klbtheme.com/bacola/blog/english-breakfast-tea-with-tasty-donut-desserts/" title="English Breakfast Tea With Tasty Donut Desserts">English Breakfast Tea With Tasty Donut Desserts</a></h2>
								</div>
							</article>

						</div>
					</div>


				</div><div class="widget widget_social_list">
					<h4 class="widget-title">Social Media</h4>

					<div class="widget-body">
						<div class="site-social style-1 wide">
							<ul>
								<li><a href="https://www.facebook.com/" class="facebook"><i class="klbth-icon-facebook"></i><span>facebook</span></a></li>
								<li><a href="https://twitter.com/home" class="twitter"><i class="klbth-icon-twitter"></i><span>twitter</span></a></li>
								<li><a href="http://pinterest.com/" class="pinterest"><i class="klbth-icon-pinterest"></i><span>pinterest</span></a></li>
								<li><a href="https://www.linkedin.com/" class="linkedin"><i class="klbth-icon-linkedin"></i><span>linkedin</span></a></li>
								<li><a href="https://www.reddit.com/" class="reddit"><i class="klbth-icon-reddit"></i><span>reddit</span></a></li>
							</ul>
						</div>
					</div>



				</div><div class="widget widget_media_image"><h4 class="widget-title">Widget Banner</h4><img width="1280" height="1750" src="https://k4j3j2s7.rocketcdn.me/bacola/wp-content/uploads/2021/05/sidebar-banner.gif" class="image wp-image-1184  attachment-full size-full" alt="" decoding="async" style="max-width: 100%; height: auto;" loading="lazy"></div><div class="widget widget_tag_cloud">
					<h4 class="widget-title">Tags</h4><div class="tagcloud">
						<a href="https://klbtheme.com/bacola/blog/tag/envato/" class="tag-cloud-link tag-link-19 tag-link-position-1" style="font-size: 8pt;" aria-label="envato (1 item)">envato</a>
						<a href="https://klbtheme.com/bacola/blog/tag/food/" class="tag-cloud-link tag-link-20 tag-link-position-2" style="font-size: 22pt;" aria-label="food (2 items)">food</a>
						<a href="https://klbtheme.com/bacola/blog/tag/fresh/" class="tag-cloud-link tag-link-21 tag-link-position-3" style="font-size: 8pt;" aria-label="fresh (1 item)">fresh</a>
						<a href="https://klbtheme.com/bacola/blog/tag/grocery/" class="tag-cloud-link tag-link-22 tag-link-position-4" style="font-size: 8pt;" aria-label="grocery (1 item)">grocery</a>
						<a href="https://klbtheme.com/bacola/blog/tag/organic/" class="tag-cloud-link tag-link-23 tag-link-position-5" style="font-size: 8pt;" aria-label="organic (1 item)">organic</a>
						<a href="https://klbtheme.com/bacola/blog/tag/quality/" class="tag-cloud-link tag-link-24 tag-link-position-6" style="font-size: 8pt;" aria-label="quality (1 item)">quality</a>
						<a href="https://klbtheme.com/bacola/blog/tag/store/" class="tag-cloud-link tag-link-25 tag-link-position-7" style="font-size: 8pt;" aria-label="store (1 item)">store</a>
						<a href="https://klbtheme.com/bacola/blog/tag/themeforest/" class="tag-cloud-link tag-link-26 tag-link-position-8" style="font-size: 8pt;" aria-label="themeforest (1 item)">themeforest</a>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>