@page "/order-received"
@inherits AppComponentBase

<PageTitle>سفارش موفق</PageTitle>

<div class="shop-content">
	<div class="container">
		<nav class="woocommerce-breadcrumb"><ul><li><a href="https://klbtheme.com/bacola">Home</a></li><li><a href="https://klbtheme.com/bacola/checkout/">Checkout</a></li><li>Order received</li></ul></nav>
		<div class="woocommerce">
			<div class="woocommerce-order">



				<p class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received">Thank you. Your order has been received.</p>

				<ul class="woocommerce-order-overview woocommerce-thankyou-order-details order_details">

					<li class="woocommerce-order-overview__order order">
						Order number:					<strong>4591</strong>
					</li>

					<li class="woocommerce-order-overview__date date">
						Date:					<strong>September 7, 2023</strong>
					</li>

					<li class="woocommerce-order-overview__email email">
						Email:						<strong>c@gmail.com</strong>
					</li>

					<li class="woocommerce-order-overview__total total">
						Total:					<strong><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>22.79</bdi></span></strong>
					</li>

					<li class="woocommerce-order-overview__payment-method method">
						Payment method:						<strong>Direct bank transfer</strong>
					</li>

				</ul>


				<section class="woocommerce-order-details">

					<h2 class="woocommerce-order-details__title">Order details</h2>

					<table class="woocommerce-table woocommerce-table--order-details shop_table order_details">

						<thead>
							<tr>
								<th class="woocommerce-table__product-name product-name">Product</th>
								<th class="woocommerce-table__product-table product-total">Total</th>
							</tr>
						</thead>

						<tbody>
							<tr class="woocommerce-table__line-item order_item">

								<td class="woocommerce-table__product-name product-name">
									<a href="https://klbtheme.com/bacola/product/angies-boomchickapop-sweet-salty-kettle-corn/">Angie's Boomchickapop Sweet &amp; Salty Kettle Corn</a> <strong class="product-quantity">×&nbsp;1</strong>
								</td>

								<td class="woocommerce-table__product-total product-total">
									<span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>3.29</bdi></span>
								</td>

							</tr>

							<tr class="woocommerce-table__line-item order_item">

								<td class="woocommerce-table__product-name product-name">
									<a href="https://klbtheme.com/bacola/product/all-natural-italian-style-chicken-meatballs/">All Natural Italian-Style Chicken Meatballs</a> <strong class="product-quantity">×&nbsp;2</strong>
								</td>

								<td class="woocommerce-table__product-total product-total">
									<span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>14.50</bdi></span>
								</td>

							</tr>

						</tbody>

						<tfoot>
							<tr>
								<th scope="row">Subtotal:</th>
								<td><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>17.79</span></td>
							</tr>
							<tr>
								<th scope="row">Shipping:</th>
								<td><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>5.00</span>&nbsp;<small class="shipped_via">via Flat rate</small></td>
							</tr>
							<tr>
								<th scope="row">Payment method:</th>
								<td>Direct bank transfer</td>
							</tr>
							<tr>
								<th scope="row">Total:</th>
								<td><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>22.79</span></td>
							</tr>
						</tfoot>
					</table>

				</section>

				<section class="woocommerce-customer-details">


					<section class="woocommerce-columns woocommerce-columns--2 woocommerce-columns--addresses col2-set addresses">
						<div class="woocommerce-column woocommerce-column--1 woocommerce-column--billing-address col-1">


							<h2 class="woocommerce-column__title">Billing address</h2>

							<address>
								asdasd asdasd<br>sdfsdf<br>qweqe, AL 35242
								<p class="woocommerce-customer-details--phone">234235253</p>

								<p class="woocommerce-customer-details--email">c@gmail.com</p>
							</address>


						</div><!-- /.col-1 -->

						<div class="woocommerce-column woocommerce-column--2 woocommerce-column--shipping-address col-2">
							<h2 class="woocommerce-column__title">Shipping address</h2>
							<address>
								asdasd asdasd<br>sdfsdf<br>qweqe, AL 35242
							</address>
						</div><!-- /.col-2 -->

					</section><!-- /.col2-set -->



				</section>


			</div>
		</div>
	</div>
</div>